* {
	margin: 0px; /* set margin to 0 for everything, so I don't have to deal with default margins */
}

body {
	padding: 0px 120px;
	font-family: Calibri, sans-serif;
}



/* ---------- Nav Section ---------- */
nav { /* there is only one nav bar, so targeting it and its children by tag name should be ok in this case (same for footer) */
	background: #653d3d; /* all colors taken with colorpicker */
	display: inline-block; /* needed to be able to set a width to the nav bar beyond its content */
	width: 100%;
}

nav ul {
	list-style-type: none; /* gets rid of the default circles for list items */
}

nav li {
	padding: 1em;
	float: left;
}

nav a {
	color: #ccc;
	text-decoration: none; /* gets rid of the default underline for links */
	font-weight: bold;
	font-size: 2em;
}

nav li:hover, nav a:hover {
	background: #875f5f;
	color: #fff;
}

.you_are_here {
	color: #fff; /* indicates where you are on the website by making the nav item a lighter color */
}



/* ---------- Header Section ---------- */
.header1 {
	background: #ededed;
	padding: 20px 0px;
}

.header1 .logo {
	float: left;
	position: relative;
	left: -40px; /* move the picture to the left to make its pos resemble the preview (without having to edit the image itself) */
}

.header1 .headertext {
 font-size: 1.3em;
 display: table-cell; /* allows us to set a height and thus vertical-align the text */
 height: 150px; /* same height as logo image */
 vertical-align: middle;
 position: relative;
 left: -80px;
}

.header2 { /* "this is my first website :)" */
	font-size: 1.8em;
	text-align: center;
	padding: 50px 0px;
}



/* ---------- HR & Footer Section ---------- */
.divider {
	border: none;
	height: 5px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), #666, rgba(0,0,0,0)); /* adds nice gradient effect to the hr */
	margin: 100px 0px 20px; /* top, left+right, bottom */
}

footer {
	text-align: center; /* will also align the image */
}

footer #logobottom {
	height: 75px; /* make image smaller */
	width: auto; /* ...and keep correct ratio (actually redundant) */
}



/* ---------- PAGE SPECIFIC ---------- */
/* Note: Linking to multiple .css files in one html did not seem to do the trick!
Appearently it is recommended to use the same .css file for different pages anyway */

/* ---------- HOME ---------- */

.titlebar {
	font-size: 2em;
	color: #fff;
	background: #978484;
	height: 40px;
	padding: 10px 20px;
}

.wrapper {
	width: 90vw; /* making it viewport dependant makes it responsive to changes */
	display: grid; /* One of many solutions to make multiple columns*/
	grid-template-columns: repeat(auto-fit, 540px); /*if screen goes too small, or you zoom, it will switch to only 1 column*/
	grid-row-gap: 50px;
	grid-column-gap: 200px;
	margin: 0 auto;
	padding-top: 20px
}

.wrapper img {
	width: 540px;
	height: 360px; /* resize them all to the same size, while keeping around the same aspect ratio */
	padding-bottom: 10px;
}

.wrapper>div {
	align-self: right;
	display: flex;
	flex-flow: column;
}

.wrapper a {
	text-decoration: none !important;
 	color: #000;
}

.imageText {
	font-size: 1.8em;
	font-weight: bold;
	max-width: 540px;
}


/* ---------- CONTACT ---------- */
.contact table {
	margin: 40px auto;
	background: #eee;
}

.contact td {
	padding: 4px;
}

.contact td:nth-child(even) {
	text-align: right; /* make all of right column align right */
}

.contact table * {
	font-size: 22px; /* interesting how text in inputfields is bigger, despite them being defined the same size in px */
}

#firstname, #surname, #email, #phone {
	width: 270px;
}


/* ---------- ABOUT ---------- */

.about * { /* instead of targeting all the h1, h3 and p tags seperately */
	padding: 1em;
}

.about h1 {
	text-align: center;
}

.about p:nth-child(even) {
	background: #efe;
	font-size: 1.2em;
}

.about p:nth-child(odd) {
	background: #fdd;
	font-size: 1.2em;
}


/* ---------- BLOG ---------- */

.blog * {
	padding: 10px 0px;
	text-align: center;
}